# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Node modules (si vous ajoutez npm plus tard)
node_modules/

# Images temporaires
assets/images/*.tmp
